.title {
  color: blue;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 2.5rem;
}

.label {
  margin-left: 1rem;
  font-size: 24px;
  font-family: "Andada Pro", serif;
  margin-bottom: 5px;
}

.inputIcon {
  position: absolute;
  margin-left: 20px;
  margin-top: 17px;
}

.input {
  margin-bottom: 20px;
  font-size: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 20px;
  padding-left: 50px;
  background: #fffdfd;
}

.forgot {
  font-size: 1rem;
  margin-bottom: 3rem;
}

.button {
  font-family: var(--karla);
  text-decoration: none;
  background-color: #6e59f7;
  font-size: 1rem;
  /* width: 120px; */
  padding: 10px 0px;
  border: none;
  border-radius: 10px;
  color: #fbfafc;
  padding: 10px 32px;
  gap: 8px;
}
